* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid rgba(125, 125, 255, 0.288); */
}

html {
  font-family: sans-serif;
}

header {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  color: green;
  font-size: 16px;
}

.menu {
  display: flex;
  justify-content: space-around;
}

.menu > li {
  display: inline;
}

a {
  text-decoration: none;
}

.navbar {
  width: 40%;
}

.actions > * {
  padding: 0 15px;
}

.actions button {
  color: white;
  background-color: green;
  border-radius: 10px;
  height: 50px;
  width: 130px;
  border: none;
}

.fixed-header {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
}

main {
  text-align: center;
  margin-top: 120px;
}

.capterra {
  max-width: 500px;
  width: 80%;
  margin: 20px;
}

/* session1 */

input {
  margin: 5px;
  height: 20px;
  border: 1px solid gray;
  border-radius: 10px;
  padding-left: 10px;
}

button {
  background-color: #025157;
  color: white;
  margin: 5px;
  border: 0px;
  height: 30px;
  border-radius: 10px;
}

p {
  color: #8b8b8bcc;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: left;
  flex: 1;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  width: 75%;
  margin: 0 auto;
  align-items: center;
  gap: 10px;
}

/* session3 */

.publish {
  width: 60%;
}

.publish h3 {
  font-family: "Alegreya", serif;
  font-size: 40px;
  line-height: 48px;
  color: #025157;
}

.publish > p {
  font-size: 16px;
  color: #343434;
  line-height: 1.5;
  margin-bottom: 20px;
}

.publish > form p {
  color: #025157;
  margin-right: 18px;
}

.publish > form input {
  height: 45px;
  padding: 10px;
  margin-right: -6px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 1px solid silver;
}

.publish form button {
  background-color: #025157;
  color: white;
  border: 0px;
  height: 45px;
  padding: 10px;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.publish form {
  flex-direction: row;
  align-items: center;
}

.explanatory-video {
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 428px;
  width: 40%;
}

.explanatory-video > * {
  width: 100%;
}

.explanatory-video img {
  width: 120px;
  margin-top: 10px;
}

/* session5  */

.features {
  background-color: #025157;
  margin-top: 20px;
  padding: 5% 10%;
  display: grid;
  grid-template: repeat(2, 330px) / repeat(2, 1fr);
}

.feature-card {
  margin: 0 15px 30px 15px;
  background-color: #fff;
  border: 1px solid #dadada;
  border-radius: 5px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.feature-content {
  padding: 30px 20px 40px 40px;
  flex: 2;
  font-size: 16px;
}

.feature-content > * {
  margin-bottom: 1rem;
  margin-top: 0;
}

.feature-content img {
  width: 50px;
}

.feature-content h3 {
  font-size: 24px;
  color: #343434;
  font-weight: 400;
}

.feature-content p {
  color: #7e7e7e;
}

.feature-content a {
  color: #67b54b;
  font-weight: 600;
  text-decoration: none;
}

.feature-image {
  flex: 1;
  width: 40%;
  position: relative;
  right: -50px;
  height: 80%;
}

.feature-image img {
  margin-top: 0;
  height: 100%;
}

@media (max-width: 575px) {
  .navbar,
  .actions {
    display: none;
  }

  header {
    justify-content: center;
  }

  article > h1 {
    font-family: "Times New Roman", Times, serif;
  }

  .row {
    max-width: 80%;
    flex-direction: column;
  }

  .container {
    margin-bottom: 20px;
  }

  .explanatory-video,
  .publish {
    width: 100%;
  }

  .features{
    grid-template: 1fr / 1fr;
  }

  .feature-card{
    flex-direction: column;
    height: 500px;
  }

  .feature-content{
    padding: 30px;
  }

  .feature-image {
    width: 100%;
    right: 0;
    left: 0;
  }

  .feature-image img {
    width: 100%;
    height: auto;
  }
}
