.parten {
    position: relative;
}

.logo {
    position: absolute;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    left: auto;
    right: 5%;
    top: 38%;
    bottom: auto;
}

.logo > img {
    width: 80%;
}

.logo-1 {
    border-radius: 100%;
    background-color: #81d742;
}

.logo-2 {
    border-radius: 100%;
    background-color: #f9da73;
}

.logo-3 {
    height: 120px;
    width: 120px;
}